Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

Answer:

In [7]:
import pandas as pd
data = [4,8,15,16,23,42]
series = pd.Series(data)
print(series)

# This code creates a Pandas Series named series containing the data [4, 8, 15, 16, 23, 42] and then prints the Series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [8]:
series.dtype

dtype('int64')

In [9]:
type(series)

pandas.core.series.Series

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

Answer:

In [11]:
data = ['kapil', [1,2,4,5,7], 'sudh', 'himanshu', True, False, 34,45,4,76]
series_data = pd.Series(data)
print(series_data)

0              kapil
1    [1, 2, 4, 5, 7]
2               sudh
3           himanshu
4               True
5              False
6                 34
7                 45
8                  4
9                 76
dtype: object

In [13]:
print(series.dtype)
print(type(series_data))
print(data)

int64
<class 'pandas.core.series.Series'>
['kapil', [1, 2, 4, 5, 7], 'sudh', 'himanshu', True, False, 34, 45, 4, 76]

In [36]:
import logging
logging.basicConfig(filename = 'test\_8.1.log' , level = logging.DEBUG)
logging.info(series_data)
# logging.shutdown()

Q3. Create a Pandas DataFrame that contains the following data:

Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

Then, print the DataFrame.

In [18]:
data = {
    'Name':['Alice', 'Bob', 'Claire'],
    'Age':[25,30,27],
    'Gender':['Female', 'Male', 'Female']
}

dataframe = pd.DataFrame(data)
print(dataframe)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [38]:
logging.shutdown()
dataframe.to_csv('test_8.1.csv', index = False)
import logging
logging.basicConfig(filename = 'ass_8_1.csv', level = logging.DEBUG )
logging.info(dataframe)
logging.shutdown()
print(dataframe)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Answer:

In [41]:
import pandas as pd
data = {
    'Name':['kapil', 'himanshu', 'yogesh'],
    'Age':[18,18,18],
    'Gender':['Male','Male','Male']
}
dtafr = pd.DataFrame(data)
print(dtafr)
dtafr.to_csv('data_8_1.csv', index = False)

       Name  Age Gender
0     kapil   18   Male
1  himanshu   18   Male
2    yogesh   18   Male

DataFrame is a tabular form of data and pandas.series is  a one dimestion of data (i.e. columns) . Data frame is a show of full information of table but pandas,series is a data of only one columns

In [2]:
import pandas as pd
data = [1,23,45,67,89,0,345,6,4,3,2532,345,345]
serise = pd.Series(data)
print(serise)
# This is pandas.series example

0        1
1       23
2       45
3       67
4       89
5        0
6      345
7        6
8        4
9        3
10    2532
11     345
12     345
dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [30]:
import pandas as pd
df = {'Name':['kapil','Himanshu','yogesh','unknwone'], 'Age': [18,19,20,21] , 'Gender':['Male','male','male','male']}
fram = pd.DataFrame(df)

In [31]:
fram

       Name  Age Gender
0     kapil   18   Male
1  Himanshu   19   male
2    yogesh   20   male
3  unknwone   21   male

In [32]:
# Filtering Data is a manipulate the data You can filter rows based on a condition.

filterp = fram[fram['Gender'] == 'male']
print(filterp)

       Name  Age Gender
1  Himanshu   19   male
2    yogesh   20   male
3  unknwone   21   male

In [33]:
# Selection and Slicing 
# DataFrame.loc[] and DataFrame.iloc[]: These allow you to select specific rows and columns by label or integer-based indexing.
selected_data = fram.loc[0:2, ['Name', 'Age','Gender']]
print(selected_data)

       Name  Age Gender
0     kapil   18   Male
1  Himanshu   19   male
2    yogesh   20   male

In [34]:
# Sorting Data
# DataFrame.sort_values(): You can sort the DataFrame by one or more columns.
sorting_data = fram.sort_values(by=['Age', 'Name'], ascending=True)
print(sorting_data)

       Name  Age Gender
0     kapil   18   Male
1  Himanshu   19   male
2    yogesh   20   male
3  unknwone   21   male

In [39]:
# Grouping Data
# DataFrame.groupby(): You can group data by one or more columns and perform aggregate operations.
group = fram.groupby('Name')['Age'].mean()
print(group)

Name
Himanshu    19.0
kapil       18.0
unknwone    21.0
yogesh      20.0
Name: Age, dtype: float64

In [ ]:
# Aggregation
# DataFrame.sum(), DataFrame.mean(), DataFrame.max(), DataFrame.min(), 
# etc.: These functions allow you to calculate summary statistics for columns.

In [47]:
calu_sum = fram['Age'].sum()
calu_max = fram['Age'].max()
calu_mean = fram['Age'].mean()
calu_min = fram['Age'].min()
print(calu_sum)
print(calu_min)
print(calu_max)
print(calu_mean)

78
18
21
19.5

In [ ]:
# This is  a comman used function and many common use fuction

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Answer:

Mutable means that the values of the object can be changed. In the case of Series, DataFrame, and Panel, this means that the values of the individual elements can be changed, as well as the structure of the object itself (e.g., adding or removing columns or rows)

In [1]:
# example for this
import pandas as pd

s = pd.Series([1, 2, 3])

In [2]:
s[0] = 4
print(s)

0    4
1    2
2    3
dtype: int64

In [6]:
# other example
b = pd.DataFrame([[2,3,5] , [9,8,7]])
b

   0  1  2
0  2  3  5
1  9  8  7

In [10]:
b.iloc[1, 2] = 10
b

    0  1   2
0   2  3   5
1  10  8  10

Q7. Create a DataFrame using multiple Series. Explain with an example.


To create a DataFrame using multiple Series, you can use the pd.DataFrame() function. This function takes a list of Series objects as input and returns a DataFrame object with the Series objects as columns.

In [5]:
import pandas as pd

# Create two Series objects
s1 = pd.Series([1, 2, 3], name='A')
s2 = pd.Series([4, 5, 6], name='B')

# Create a DataFrame from the Series objects
df = pd.DataFrame([s1, s2])

# Print the DataFrame
print(df)

   0  1  2
A  1  2  3
B  4  5  6