# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple

In [27]:
string = "kapil"
list_data = [1,2,3,4,"kapil",3.23]
float_data = 3.14
tuple_data = (1,2,3,4,5,'kapil','data')

In [39]:
type(string)

str

In [40]:
type(list_data)

list

In [41]:
type(float_data)

float

In [42]:
type(tuple_data)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [52]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1

In [54]:
type(var1)

str

In [55]:
type(var2)

str

In [56]:
type(var3)

list

In [57]:
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [58]:
4/3  # this is a divide operator

1.3333333333333333

In [59]:
7%3   # this is a remainder operator

1

In [60]:
7//3  #this is used to find the quotient operator

2

In [61]:
4**3  #this is a power operator

64

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [63]:
list =  [1,3.14,True,"kapil",("kapil", 1,2),-0.12,-7,False,2 + 3j,"data"]

In [67]:
for i  in list :
    print(i)
    print(type(i))
    if i==list[4] :
        for a in list[4] :
            print(a)
            print(type(a))

1
<class 'int'>
3.14
<class 'float'>
True
<class 'bool'>
kapil
<class 'str'>
('kapil', 1, 2)
<class 'tuple'>
kapil
<class 'str'>
1
<class 'int'>
2
<class 'int'>
-0.12
<class 'float'>
-7
<class 'int'>
False
<class 'bool'>
(2+3j)
<class 'complex'>
data
<class 'str'>

Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [75]:
value_B = int(input("Enter the value_B"))
value_A = int(input("enter the value_A"))
i = 0
while value_B % value_A==0:
    value_B = value_B/value_A
    i += 1
else:
    print("number A is purely divisible by number B is",i,"times")

Enter the value_B 8
enter the value_A 2

number A is purely divisible by number B is 3 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [77]:
list = [1,2,3,4,5,6,54,23,34,56,87,13,9,18,27,45,65,786,34,56,12,67,789,34,12]
i = 0
for number in list:
    if(number%3==0):
        print("The Number",list[i],"is Divisible by 3")
    else:
        print("The Number",list[i],"is not Divisible by 3")
    i+=1

The Number 1 is not Divisible by 3
The Number 2 is not Divisible by 3
The Number 3 is Divisible by 3
The Number 4 is not Divisible by 3
The Number 5 is not Divisible by 3
The Number 6 is Divisible by 3
The Number 54 is Divisible by 3
The Number 23 is not Divisible by 3
The Number 34 is not Divisible by 3
The Number 56 is not Divisible by 3
The Number 87 is Divisible by 3
The Number 13 is not Divisible by 3
The Number 9 is Divisible by 3
The Number 18 is Divisible by 3
The Number 27 is Divisible by 3
The Number 45 is Divisible by 3
The Number 65 is not Divisible by 3
The Number 786 is Divisible by 3
The Number 34 is not Divisible by 3
The Number 56 is not Divisible by 3
The Number 12 is Divisible by 3
The Number 67 is not Divisible by 3
The Number 789 is Divisible by 3
The Number 34 is not Divisible by 3
The Number 12 is Divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [78]:
list = [1,2,3,4,5,'data-science']

list[0]= "kapil"

In [79]:
list # this is a mutable example and mutable is a index change able  condition

['kapil', 2, 3, 4, 5, 'data-science']

In [81]:
string = "kapil"

In [83]:
string

'kapil'

In [94]:
string[0]= "M"
a = string[0]   #this is a immutable example and immutable is a index does not change

TypeError: 'str' object does not support item assignment

In [95]:
str =  'data'
str
str = 'science'
str

'science'