In [99]:
import pandas as pd
course_name = ["Data Science", "Machine Learning", "Big Data", "Data Engineer"]
duration = [2,3,6,4]
df = pd.DataFrame(data = {"course_name" : course_name, "duration" : duration})

# Q1. Write a code to print the data present in the second row of the dataframe, df

In [19]:
df["duration"]

0    2
1    3
2    6
3    4
Name: duration, dtype: int64

# Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [28]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [29]:
df.iloc

In [30]:
df["course_name"].values[0]

'Data Science'

In [31]:
df.loc[df['duration'] > 4]

  course_name  duration
2    Big Data         6

loc is label-based and includes the stop label in slicing.

iloc is integer position-based and excludes the stop position in slicing.

Both methods are powerful and offer flexibility in selecting data from a DataFrame based on labels or positions.

### Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
#### then find the output for both new_df.loc[2] and new_df.iloc[2].


#### Did you observe any difference in both the outputs? If so then explain it.
#### Consider the below code to answer further questions:
#### import pandas as pd
#### import numpy as np
#### columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
#### indices = [1,2,3,4,5,6]
#### #Creating a dataframe:
#### df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [32]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]

In [33]:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [34]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.704865  0.473826  0.924830  0.334771  0.070716  0.180492
2  0.103500  0.920716  0.087114  0.617159  0.152511  0.307057
3  0.398428  0.850050  0.438906  0.270007  0.152909  0.715162
4  0.123161  0.699748  0.801026  0.059086  0.104575  0.875597
5  0.580724  0.746229  0.927532  0.776412  0.785037  0.231936
6  0.750336  0.589836  0.436797  0.849497  0.656404  0.862292

In [35]:
reindex = [3,0,1,2]
new_df = df1.reindex(reindex)

In [36]:
new_df

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.398428  0.850050  0.438906  0.270007  0.152909  0.715162
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.704865  0.473826  0.924830  0.334771  0.070716  0.180492
2  0.103500  0.920716  0.087114  0.617159  0.152511  0.307057

In [37]:
loc_2 = new_df.loc[2]
iloc_2 = new_df.iloc[2]
print("new_df.loc[2]:\n", loc_2)
print("new_df.iloc[2]:\n", iloc_2)

new_df.loc[2]:
 column_1    0.103500
column_2    0.920716
column_3    0.087114
column_4    0.617159
column_5    0.152511
column_6    0.307057
Name: 2, dtype: float64
new_df.iloc[2]:
 column_1    0.704865
column_2    0.473826
column_3    0.924830
column_4    0.334771
column_5    0.070716
column_6    0.180492
Name: 1, dtype: float64

new_df.loc[2] retrieves the row with index label 2, showing data from the original DataFrame's index 2.
new_df.iloc[2] retrieves the row at the 3rd position in the reindexed DataFrame, showing data from the original DataFrame's index 1 (since the reindexed order is [3, 0, 1, 2]).
The difference arises because loc uses the DataFrame’s index labels, while iloc uses the integer positions.

In [38]:
# so i obserevd to iloc is postion vector and loc is labeling and indexing

# Q4. Write a code to find the following statistical measurements for the above dataframe df1:
# (i) mean of each and every column present in the dataframe.
# (ii) standard deviation of column, ‘column_2’

In [71]:
df1.mean()

column_1    0.443502
column_2    0.713401
column_3    0.602701
column_4    0.484489
column_5    0.320359
column_6    0.528756
dtype: float64

In [72]:
df1["column_2"].std()

0.16467020300924248

In [73]:
df = df1.mean().index

In [75]:
column

column_1    0.443502
column_2    0.713401
column_3    0.602701
column_4    0.484489
column_5    0.320359
column_6    0.528756
dtype: float64

# Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
# mean of column, column_2.
# If you are getting errors in executing it then explain why.
# [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [81]:
import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)
print("Original DataFrame:\n", df1)

Original DataFrame:
    column_1  column_2  column_3  column_4  column_5  column_6
1  0.773036  0.111678  0.158848  0.084087  0.453205  0.810309
2  0.624343  0.999358  0.197312  0.921380  0.587985  0.912345
3  0.343899  0.644614  0.766818  0.593967  0.912420  0.558710
4  0.606697  0.707712  0.245866  0.708273  0.268702  0.418735
5  0.696252  0.294111  0.587647  0.269753  0.289978  0.948438
6  0.029785  0.605843  0.089649  0.206606  0.872825  0.934945

In [77]:
df1.loc[2, 'column_2'] = 'string_value'
print("DataFrame after replacing data in the second row of column_2 with a string:\n", df1)

DataFrame after replacing data in the second row of column_2 with a string:
    column_1      column_2  column_3  column_4  column_5  column_6
1  0.281559      0.649918  0.744109  0.392423  0.741715  0.245114
2  0.136401  string_value  0.173484  0.560126  0.683061  0.258083
3  0.822026      0.027072  0.617021  0.380661  0.466408  0.271018
4  0.198533      0.170685  0.232068  0.037944  0.762227  0.484049
5  0.373541      0.611984  0.211318  0.294336  0.078979  0.436513
6  0.753231      0.375791  0.741753  0.389294  0.235906  0.775214

In [78]:
try:
    mean_column_2 = df1['column_2'].mean()
    print("Mean of column_2:\n", mean_column_2)
except Exception as e:
    print("Error:", e)

Error: unsupported operand type(s) for +: 'float' and 'str'

# Q6. What do you understand about the windows function in pandas and list the types of windows functions?


In pandas, window functions are used to perform operations on a set of data points (a "window") defined by a specific criterion. These functions are particularly useful for time series data or any data where the context of neighboring values is important. Window functions allow you to perform calculations across a sliding window of data, enabling tasks like moving averages, cumulative sums, and exponentially weighted calculations.

In [82]:
df1.rolling(window=3).mean()

   column_1  column_2  column_3  column_4  column_5  column_6
1       NaN       NaN       NaN       NaN       NaN       NaN
2       NaN       NaN       NaN       NaN       NaN       NaN
3  0.580426  0.585216  0.374326  0.533145  0.651203  0.760455
4  0.524980  0.783894  0.403332  0.741207  0.589702  0.629930
5  0.548949  0.548812  0.533443  0.523997  0.490367  0.641961
6  0.444244  0.535889  0.307720  0.394877  0.477168  0.767373

In [84]:
df1.expanding().mean()

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.773036  0.111678  0.158848  0.084087  0.453205  0.810309
2  0.698690  0.555518  0.178080  0.502734  0.520595  0.861327
3  0.580426  0.585216  0.374326  0.533145  0.651203  0.760455
4  0.586994  0.615840  0.342211  0.576927  0.555578  0.675025
5  0.608845  0.551494  0.391298  0.515492  0.502458  0.729708
6  0.512335  0.560552  0.341023  0.464011  0.564186  0.763914

In [86]:
df1.ewm(span=3).mean()

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.773036  0.111678  0.158848  0.084087  0.453205  0.810309
2  0.673908  0.703464  0.184491  0.642283  0.543058  0.878333
3  0.485331  0.669835  0.517249  0.614673  0.754122  0.695692
4  0.550059  0.690036  0.372511  0.664593  0.495231  0.547981
5  0.625513  0.485688  0.483549  0.460805  0.389294  0.754669
6  0.322921  0.546719  0.283473  0.331688  0.634897  0.846238

# Q7. Write a code to print only the current month and year at the time of answering this question.
# [Hint: Use pandas.datetime function]

In [87]:
import pandas as pd

# Get the current date and time
current_datetime = pd.Timestamp.now()

# Extract the current month and year
current_month_year = current_datetime.strftime("%B %Y")

print(current_month_year)

June 2024

# Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
# calculates the difference between them in days, hours, and minutes using Pandas time delta. The
# program should prompt the user to enter the dates and display the result.

In [89]:
import pandas as pd

def calculate_time_difference(date1, date2):
    # Convert the input strings to pandas Timestamp objects
    timestamp1 = pd.Timestamp(date1)
    timestamp2 = pd.Timestamp(date2)
    
    # Calculate the difference between the two timestamps
    time_difference = timestamp2 - timestamp1
    
    # Extract the difference in days, hours, and minutes
    days = time_difference.days
    hours = time_difference.seconds // 3600
    minutes = (time_difference.seconds % 3600) // 60
    
    return days, hours, minutes

def main():
    # Prompt the user to enter the dates
    date1 = input("Enter the first date (YYYY-MM-DD): ")
    date2 = input("Enter the second date (YYYY-MM-DD): ")
    
    # Calculate the time difference
    days, hours, minutes = calculate_time_difference(date1, date2)
    
    # Display the result
    print(f"The difference between {date1} and {date2} is {days} days, {hours} hours, and {minutes} minutes.")

if __name__ == "__main__":
    main()

Enter the first date (YYYY-MM-DD):  2004-09-19
Enter the second date (YYYY-MM-DD):  2024-06-22

The difference between 2004-09-19 and 2024-06-22 is 7216 days, 0 hours, and 0 minutes.

# Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified  column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [91]:
import pandas as pd

def convert_to_categorical(file_path, column_name, category_order):
    # Read the CSV file into a pandas DataFrame
    df = pd.read_csv(file_path)
    
    # Convert the specified column to a categorical data type with the given category order
    df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
    
    # Sort the DataFrame by the categorical column
    sorted_df = df.sort_values(by=column_name)
    
    return sorted_df

def main():
    # Prompt the user to enter the file path, column name, and category order
    file_path = input("Enter the file path: ")
    column_name = input("Enter the column name: ")
    category_order_input = input("Enter the category order (comma-separated values): ")
    category_order = category_order_input.split(',')
    
    # Convert the column to categorical and sort the DataFrame
    sorted_df = convert_to_categorical(file_path, column_name, category_order)
    
    # Display the sorted DataFrame
    print("\nSorted DataFrame:")
    print(sorted_df)

if __name__ == "__main__":
    main()

Enter the file path:  youtube_videos.csv
Enter the column name:  Title
Enter the category order (comma-separated values):  Low,Medium,High

Sorted DataFrame:
Empty DataFrame
Columns: [Video URL, Thumbnail URL, Title, Views, Posted Time]
Index: []

In [92]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.773036  0.111678  0.158848  0.084087  0.453205  0.810309
2  0.624343  0.999358  0.197312  0.921380  0.587985  0.912345
3  0.343899  0.644614  0.766818  0.593967  0.912420  0.558710
4  0.606697  0.707712  0.245866  0.708273  0.268702  0.418735
5  0.696252  0.294111  0.587647  0.269753  0.289978  0.948438
6  0.029785  0.605843  0.089649  0.206606  0.872825  0.934945

In [102]:
df1.sort_values(by="column_1")

   column_1  column_2  column_3  column_4  column_5  column_6
6  0.029785  0.605843  0.089649  0.206606  0.872825  0.934945
3  0.343899  0.644614  0.766818  0.593967  0.912420  0.558710
4  0.606697  0.707712  0.245866  0.708273  0.268702  0.418735
2  0.624343  0.999358  0.197312  0.921380  0.587985  0.912345
5  0.696252  0.294111  0.587647  0.269753  0.289978  0.948438
1  0.773036  0.111678  0.158848  0.084087  0.453205  0.810309

 # Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart. -->

In [103]:
import pandas as pd
import matplotlib.pyplot as plt

def read_and_process_data(file_path):
    # Read the CSV file into a pandas DataFrame
    df = pd.read_csv(file_path)
    
    # Ensure that the 'Date' column is of datetime type
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Pivot the data to have dates as the index and product categories as columns
    pivot_df = df.pivot_table(index='Date', columns='Product', values='Sales', aggfunc='sum')
    
    return pivot_df

def plot_stacked_bar_chart(pivot_df):
    # Plot a stacked bar chart
    pivot_df.plot(kind='bar', stacked=True, figsize=(10, 7))
    
    # Set the title and labels
    plt.title('Sales of Each Product Category Over Time')
    plt.xlabel('Date')
    plt.ylabel('Sales')
    
    # Display the legend
    plt.legend(title='Product', bbox_to_anchor=(1.05, 1), loc='upper left')
    
    # Show the plot
    plt.tight_layout()
    plt.show()

def main():
    # Prompt the user to enter the file path
    file_path = input("Enter the file path: ")
    
    # Read and process the data
    pivot_df = read_and_process_data(file_path)
    
    # Plot the stacked bar chart
    plot_stacked_bar_chart(pivot_df)

if __name__ == "__main__":
    main()

Enter the file path:  youtube_videos.csv

KeyError: 'Date'

# Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, anddisplays the results in a table.

In [120]:
import pandas as pd
from scipy import stats

def calculate_statistics(file_path):
    # Read the CSV file into a pandas DataFrame
    df = pd.read_csv(file_path)
    
    # Calculate mean, median, and mode of the test scores
    mean_score = df['Score'].mean()
    median_score = df['Score'].median()
    mode_score = stats.mode(df['Score'])[0][0]  # stats.mode returns a ModeResult object
    
    # Create a DataFrame to display the results
    results_df = pd.DataFrame({
        'Statistic': ['Mean', 'Median', 'Mode'],
        'Score': [mean_score, median_score, mode_score]
    })
    
    return results_df

def main():
    # Prompt the user to enter the file path
    file_path = input("Enter the file path: ")
    
    # Calculate statistics
    results_df = calculate_statistics(file_path)
    
    # Display the results
    print("\nStatistics of Test Scores:")
    print(results_df.to_string(index=False))

if __name__ == "__main__":
    main()

Enter the file path:  student_data.csv

Statistics of Test Scores:
Statistic  Score
     Mean   83.5
   Median   85.0
     Mode   85.0

/tmp/ipykernel_77/2990200466.py:11: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode_score = stats.mode(df['Score'])[0][0]  # stats.mode returns a ModeResult object

In [118]:
Test_Score = [85,90,80,75,85,82,78,85,90,85]
Student_ID = [1,2,3,4,5,6,7,8,9,10]
# Student ID,Test Score 
# 1,85
# 2,90
# 3,80
# 4,75
# 5,85
# 6,82
# 7,78
# 8,85
# 9,90
# 10,85

student_data = pd.DataFrame(data = {"Score" : Test_Score, "Student_ID" : Student_ID } )

In [119]:
student_data.to_csv("student_data.csv",index=True)

In [125]:
import pandas as pd

# Convert a Series of date strings to datetime
dates = pd.Series(['2023-06-01', '2023-06-02', '2023-06-03'])
date_times = pd.to_datetime(dates)
dates

0    2023-06-01
1    2023-06-02
2    2023-06-03
dtype: object

In [126]:
date_times

0   2023-06-01
1   2023-06-02
2   2023-06-03
dtype: datetime64[ns]